.hero {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ),
  url("../../assets/college%20building.jpg");

  background-size: cover;
  background-position: center;

  color: white;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.apply-btn,
.explore-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  font-size: 1rem;
}

.apply-btn {
  background: #19439f;
  color: white;
}

.explore-btn {
  background: #19439f;
  color: white;
}

.hero-stats {
  margin-top: 50px;

  display: flex;
  justify-content: center;
  gap: 30px;

  flex-wrap: wrap;
}

.stat-box {
  background: rgba(255,255,255,0.15);

  backdrop-filter: blur(8px);

  padding: 20px;

  border-radius: 10px;

  min-width: 180px;
}

.stat-box h2 {
  font-size: 2rem;
  color: white;

  margin-bottom: 10px;
}

.stat-box p {
  color: #f1f1f1;
}